body {
  font-family: Arial, sans-serif;
  color: #222;
  margin: 20px;
}
.promo {
  background-color: rgb(126, 198, 198);
  width: 800px;
  height: 40px;
  padding: 10px 1px 0px;
  border-left: 5px solid rgb(9, 141, 66);
}
