

<footer class="footer">
      <div class="svg-icon">
        <a href=""><img src="linkedin.jpg" alt="fb" class="img-svg" /></a>
        <a href=""
          ><img src="facebook.jpg" alt="insta" class="img-svg"
        /></a>
        <a href=""><img src="whatsapp.jpg" alt="wb" class="img-svg" /></a>
        <a href=""
          ><img src="insta.jpg" alt="linkedin" class="img-svg"
        /></a>
      </div>
      <div class="rights">
        <p>Future Bright Infotech. All rights Reserved - 2022</p>
      </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>