{% extends 'blog/base.html'%}

{% block content %}
 <!-- showcase-area -->
<section class="showcase-area"> 

    
        <div class="showcase-container">
            <p>Empowering your journey to success through innovation, training, and tailored career solutions.</p>
            <h1 class="main-title" id="home">Welcome to Future Bright Infotech</h1>
           
            <div>
            <button class="btn"><a href="#">Contact Us</a></button>
            </div>
         </div>
         
         
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">

       <div class="container-slide one">
        <div class="img-slide"> 
        <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="" class="image-slide">    
        </div>
            <div class="content-slide">
                <div class="head-slide">
                    <h1>Innovative Website Development</h1>
                </div>
                <div class="content-slide2">
                    <p class="">We create custom, responsive websites that not only look great but are built with the
                         latest technologies to provide exceptional user experiences. Our team works closely with
                          you to understand your needs and deliver a product that stands out.</p>
                </div>
                <div><button class="btn"><a href="#">Learn More</a></button></div>
            </div>
            </div>
        </div>




      <div class="swiper-slide">
        <div class="container-slide two">
        <div class="img-slide"> 
        <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="" class="image-slide">    
        </div>
            <div class="content-slide">
                <div class="head-slide">
                    <h1>Comprehensive Job Placement </h1>
                </div>
                <div class="content-slide2">
                    <p class="">Our job placement services are designed to connect freshers and experienced professionals
                         with trusted employers across various industries, 
                        including opportunities abroad. We understand the job market and help you find the perfect match.</p>
                </div>
                <div><button class="btn btn2"><a href="#">Explore Opportunities</a></button></div>
            </div>
            </div>
        </div>


      <div class="swiper-slide">
         <div class="container-slide three">
        <div class="img-slide"> 
        <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="" class="image-slide" >    
        </div>
            <div class="content-slide">
                <div class="head-slide">
                    <h1>Expert Programming Courses</h1>
                </div>
                <div class="content-slide2">
                    <p class="">Our industry-relevant programming courses equip you with
                         the skills needed to thrive in the tech world. With certification and career support,
                          we ensure you are job-ready and confident in your abilities.</p>
                </div>
                <div><button class="btn btn3"><a href="#">Join a Course</a></button></div>
            </div>
            </div>
      </div>
      
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <section>

    <div class="service">
      <h2>Our Key Services</h2>
      </div>
      <div class="service-sub">
      <p>Tailored solution designed to meet your unique needs.</p>
    </div>

    <div class="service-container">
      <div class="img-service">
        <img src="./wp10455999.webp" alt="" class="image-service">
      </div>
      <div class="service-sub-container">
      <div class="service-head">
          <h3>Website Development</h3>
      </div>

      <div class="service-content">
        <p>Our website development services focus on creating custom, responsive, and scalable websites that enhance your online presence. We incorporate modern technologies and best practices to ensure your 
          site is user-friendly and effective in driving results.</p>
          <button class="btn"><a href="">View Details</a></button>
      </div>
      </div>
    </div>

    <div class="service-container">
      <div class="img-service">
        <img src="./1947484.webp" alt="" class="image-service">
      </div>
      <div class="service-sub-container">
      <div class="service-head">
          <h3>Job Placement Services</h3>
      </div>

      <div class="service-content">
        <p>We provide reliable job placement services for both fresh graduates and seasoned professionals. Our dedicated team works tirelessly to match candidates with suitable roles in various sectors, including international job opportunities,
           ensuring a smooth transition into the workforce.</p>
          <button class="btn"><a href="">Find Jobs</a></button>
      </div>
      </div>
    </div>

    <div class="service-container">
      <div class="img-service">
        <img src="./wp10455999.webp" alt="" class="image-service">
      </div>
      <div class="service-sub-container">
      <div class="service-head">
          <h3>Training & Certification</h3>
      </div>

      <div class="service-content">
        <p>Our training programs cover a wide range of essential skills, including programming and language courses. With a focus on industry relevance, we provide hands-on training, certifications, 
          and ongoing career support to help you excel in your chosen field.</p>
          <button class="btn btn-training"><a href="">Start Learning</a></button>
      </div>
      </div>
    </div>


    <div class="service-container">
      <div class="img-service">
        <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="" class="image-service">
      </div>
      <div class="service-sub-container">
      <div class="service-head">
          <h3>Website Development</h3>
      </div>

      <div class="service-content">
        <p>Our website development services focus on creating custom, responsive, and scalable websites that enhance your online presence. We incorporate modern technologies and best practices to ensure your 
          site is user-friendly and effective in driving results.</p>
          <button class="btn"><a href="">View Details</a></button>
      </div>
      </div>
    </div>

  </section>

  <!-- Stories -->
  <section>
    <div class="Success-stories-container">
      <div class="success-head">
        <h3>Success Stories</h3>
      </div>
      <div class="success-content">
        <p>Real experiences from our clients and candidates.</p>
      </div>
      <div class="success-card-container">
      <div class="success-card">
        <div class="bg-card">
          <div class="img-card">
            <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="web solution" class="image-card">
          </div>
          <div class="content-card">
            <h4>Transformative Web Solutions</h4>
            <p>Thanks to Future Bright Infotech, my business now has a stunning website that attracts more customers than ever before! The team was
               professional and truly understood my vision.</p>
          </div>
        </div>
      </div>

      <div class="success-card">
        <div class="bg-card">
          <div class="img-card">
            <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="web solution" class="image-card">
          </div>
          <div class="content-card">
            <h4>A New Career Path</h4>
            <p>I landed my dream job after completing the job placement program. The support I received was exceptional, and I couldn't
               have done it without their guidance and resources.</p>
          </div>
        </div>
      </div>

      <div class="success-card">
        <div class="bg-card">
          <div class="img-card">
            <img src="./540089-programmers-AutoHotkey-code-programming-laptop-ThinkPad.jpg" alt="web solution" class="image-card">
          </div>
          <div class="content-card">
            <h4>Skills that Matter</h4>
            <p>The programming course at Future Bright Infotech was a game-changer for me. I gained practical skills and confidence that 
              helped me secure a position in a top tech company.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Latest Updates -->
  <section>

    <div class="updates-container">
      <div class="updates-head">
        <h3>Latest Updates</h3>
      </div>
      <div class="updates-content">
        <p>Keep in touch with our latest news and insights.</p>
      </div>
    </div>

    <div class="latest-container">
      <div class="main-content">
          <div class="img-update">
            <img src="./OIP.jpg" alt="jobfair" class="image-update">
          </div>
          <div class="update-contnet">
            <h4>
              Job Fair Success: Connecting Candiates with Employers
            </h4>
            <address>July 4, 2025</address>
            <p>Our recent job fair was a tremendous success, connecting hundred of candiates with esteemed....
              <a href="#" class="etc">Read more....</a>
            </p>
          </div>
        </div>
        <hr>

         <div class="main-content">
          <div class="img-update">
            <img src="./OIP.jpg" alt="jobfair" class="image-update">
          </div>
          <div class="update-contnet">
            <h4>
              New Course Laung: Advanced Python Programming 
            </h4>
            <address>July 5, 2025</address>
            <p>We're excited to announce our new Advanced Python Programming course, designed for individuals....
              <a href="#" class="etc">Read more....</a>
            </p>
          </div>
        </div>
        <hr>

         <div class="main-content">
          <div class="img-update">
            <img src="./OIP.jpg" alt="jobfair" class="image-update">
          </div>
          <div class="update-contnet">
            <h4>
              German Langauge Training: Enroll Now
            </h4>
            <address>July 10, 2025</address>
            <p>Our German Language training program is now open for enrollment! offering levels A1 to B2, these....
              <a href="#" class="etc">Read more....</a>
            </p>
          </div>
        </div>
        <hr>


    </div>

</section>

{% endblock %}

  <!-- footer -->  
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <script>
    var swiper = new Swiper(".mySwiper", {
  slidesPerView: 1,
  spaceBetween: 20,
  loop: true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  breakpoints: {
    480:{
      slidesPerView:1,
    },
    768: {
      slidesPerView: 1,
    },
    1024: {
      slidesPerView: 1,
    },
  },
});

    function toggleMenu() {
    const navLinks = document.getElementById("nav-links");
    navLinks.classList.toggle("show");
  }
</script>
</body>

</html>